.pregunta
    background-color: #fff
    border: 1px solid #dadce0
    margin-bottom: 12px
    padding: 24px
    margin-top: 0
    width: 726
    
    .chip-hito-select
        background: #6d6c6c
        color: #ffffff
        border: 1px solid #6d6c6c
.chip
    
    border: 1px solid #6d6c6c
    color: #111111
    background-color: #efe4e4
    border-radius: 50%
    padding: 1em
    font-size: 15pt
    cursor: pointer
    &:hover
        background-color: #cac6c6
.mat-button-toggle-checked.cdk-focused
    border: 50px !important

.btns-primary 
    cursor: pointer
    background: #0650f0
    color: #ffffff
    align-content: center
    font-size: x-large
.respuestas-info
    display: flex
    align-items: flex-end
    margin: 10px

    p
        background: #C7C9C7
        padding: 15px
        border-radius: 15px 
        font-size: 12px
        align-content: center
.label-left
    padding: 7px 9px
    width: 9%
    
.label-right
    padding: 5px 10px
    margin: 0px 0px 0px 20px
    width: 20%

.label-right-1
    width: 5%
.center
    margin: 0px 27px 0px 14px
.label-left-1
    width: 5%

@media (max-width: 640px) 

    .chip
        font-size: 7pt
    .center
        font-size: 10pt
        width: 8%
    .label-right
        font-size: 10pt
    .label-left
        font-size: 10pt
        width: 20%
    .label-right-1
        font-size: 10pt
        width: 9%
    .label-left-1
        font-size: 10pt
        width: 13%
    
