<app-header></app-header>

<section id="login" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_login">
            <div class="card">
              <div class="card-body text-center">
                <form  [formGroup]="loginForm" (ngSubmit)=" Onlogin(loginForm.value)" >
                  <h1 class="h3 mb-3 font-weight-normal" >Login</h1>
                  <div class="alert alert-danger" *ngIf="isError" role="alert" >
                    Email y/o password incorrecto
                  </div>
                  <div class="form-group">
                    <input  type="email" id="email" name="email" class="form-control" placeholder="Email" formControlName="email">
                  </div>
                  <div class="form-group">
                    <input  type="password" id="password" name="password" class="form-control" placeholder="Password" formControlName="password">
                  </div>
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                  
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  