<app-header></app-header>

<div class="container">
  <div class="messages-guide" *ngIf="habilitarTest === 'testPersonalidad'">
    <img src="../../assets/imagenes/escudo-uco.png" alt="">
    <p><strong>Bienvenido. <br>
        Este es un cuestionario que mide 16 rasgos de personalidad del estudiante como afectividad, razonamiento,
        estabilidad, dominancia, conformidad grupal, atrevimiento, sensibilidad, suspicacia
        imaginación, astucia, culpabilidad, autosuficiencia, autocontrol y tensión. <br>
        Es importante para la institución que usted diligencie a consciencia este formulario.  </strong></p>
  </div>
  <div class="messages-guide" *ngIf="habilitarTest === 'otro-test'">
    <img src="../../assets/imagenes/escudo-uco.png" alt="">
    <p><strong>Bienvenido. <br>
        Este es un cuestionario que mide algunos aspectos de autoeficacia y autoeficiencia del estudiante. <br>
        Es importante para la institución que usted diligencie a consciencia este formulario. <br></strong></p>
  </div>
  <div class="messages-guide" *ngIf="habilitarTest === 'motivacion'">
    <img src="../../assets/imagenes/escudo-uco.png" alt="">
    <p><strong>Bienvenido. <br>
        Este es un cuestionario que mide algunos aspectos sobre la motivación del aprendizaje. <br>
        Es importante para la institución que usted diligencie a consciencia este formulario. <br></strong></p>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="contenido">
      <h2>Datos Personales</h2>
      <div class="resaltar">
        <p><strong>**Todos los campos son obligatorios**</strong></p>
      </div>
      <div class="md-form">
        <select class="form-control cont-input-text" name="programa" formControlName="programa" required>
          <option value="" disabled>seleccione el programa </option>
          <option *ngFor="let programas of programas" [value]="programas.descripcion">{{programas.descripcion}}</option>
        </select>
      </div>
      <br>
      <div class="md-form">
        <input type="text" id="nombre" class="form-control cont-input-text" formControlName="nombre"
          placeholder="Escriba nombres y apellidos">
      </div>
      <div class="cont-input-text">
      <div  *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger ">
        <div *ngIf="f.nombre.errors.required">el nombre es requerido.</div>
      </div>
    </div>
      <br>
      <div class="md-form">
        <input type="text" id="documento" class="form-control cont-input-text" formControlName="documento"
          placeholder="Escriba el número del documento">
      </div>
      <div class="cont-input-text">
      <div *ngIf="f.documento.touched && f.documento.invalid" class="alert alert-danger">
        <div *ngIf="f.documento.errors.required">el documento es requerido.</div>
      </div>
    </div>
      <br>
      <div class="form-group">
        <label for="genero"> <strong>Género</strong></label>
        <div>
          <input id="hombre" type="radio" value="M" name="genero" formControlName="genero">
          <label for="hombre">Masculino</label>
        </div>
        <div>
          <input id="mujer" type="radio" value="F" name="genero" formControlName="genero">
          <label for="mujer">Femenino</label>
        </div>
        <div class="cont-input-text">
        <div *ngIf="f.genero.touched && f.genero.invalid" class="alert alert-danger">
          <div *ngIf="f.genero.errors.required">el género es requerido.</div>
        </div>
      </div>
      </div>
      <button class="btn btns-primary" [disabled]="!form.valid"><strong>Continuar</strong> </button>
    </div>
  </form>

</div>