<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;"><strong> Resultados de autoeficacia y autoeficiencia</strong></div>
        <div class="container">
            <div class="row" *ngIf="respuestas">
                <div class="col-md-12" style="margin-bottom: 15px;margin-top: 15px ;text-align: center;" >Total encuestados: {{respuestas.length}}</div>
                <div class="col-md 12" style="display: flex;align-items: center;justify-content: center;">
                    <button (click)="descargar()" class="btn btn-primary">Descargar</button>
                </div>
            </div>
        </div>
    </div>
</div>

