<header class="block-c">
    <img class="brand"  src="../../../assets/imagenes/images.jpg" aling="right" >
    <div style="right: 210px;position: absolute; margin: 20px 0px;">
    <a  (click)="logout()">  Salir </a>
</div>
</header>

<section>
    <h4 style="text-align: center; margin: 34px 0px 50px;">Bienvenido al modulo de reportes</h4>
    <div class="form-container">
    <app-reporte-personalidad></app-reporte-personalidad>
    <app-reporte></app-reporte>
    <app-reporte-procastinacion></app-reporte-procastinacion>
    <app-reporte-motivacion></app-reporte-motivacion>
    </div>
</section>


